* {
  box-sizing: border-box;
}

body {
  margin: 73px 0 0 0;
  padding: 0;
  color: #333;
  background: #fff url(541639_m.jpg);
}


.site-header{
  width: 100%;
  padding: 20px 20px;
  margin:0;
  background: #fff url(3229890_s.jpg);
  position: fixed;
  z-index: 10000;
  top: 0;
}

.icon p{
  position: fixed;
  top: -5px;
  left: 10px;
}

.icon img{
  width: 50px;
  height: 50px;
}

.site-header h1 {
  margin: 0; padding: 0;
  font-size: 20px;
  text-align: center;
}

.site-header a {	
  text-decoration: none;
  color: darkred;
}

.content-header{
  margin: 100px 0 0 0;
}

.page-header{
  text-align:center;
}

/* .setumei{
  padding: 0px 0px 60px 0px;
} */


.omoi p{
  text-align: center;
}

.content-body .button{
  text-align: center;
  padding: 5% 0 0 0;
}

.secret .button{
  text-align: right;
}

.btn-flat-double-border {
  font-size:15px ;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: darkred;
  border: double 4px darkred;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-double-border:hover {
  background: white;
}

/* タイトル装飾　relativeつけるとバグる */
/* .page-header h1::after {
  content: "";
  position: absolute;
  z-index: 900;
  bottom: 550px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
} */

.event{
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
 /* background: #FFF; */
  border: solid 2px darkred;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.event h3{
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px darkred;/*左線*/
}

.event video{
  width: 100%;
  height: auto;
}


.linkcolor a{
 color: darkslategrey;
 text-decoration: none;
}

.linkcolor a:hover{
  color: #333;
  text-decoration: none;
}


/*プロフィール枠*/
#author_profile {
  border: 1px solid darkred;
  width: 100%;
  margin: 40px auto;
  overflow: hidden;
}
#author_profile p {
  margin-bottom: 20px;
  line-height: 1.8;
}
/*この記事を書いた人の見出し*/
#author_profile p.label {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: darkred;
  padding: 10px 15px;
}
/*名前*/
#author_profile p.author_name {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  z-index: 900;
}
/*名前下の下線*/
#author_profile p.author_name::after {
  content: "";
  border-bottom: solid 3px darkred;
  position: absolute;
  z-index: 900;
  left: 0;
  right: 0;
  bottom: -2px;
}
/*左側画像ブロック*/
#author_profile .left {
  width: 14%;
  float: left;
  margin: 10px 0 15px 30px;
}
/*画像サイズ*/
#author_profile .left img {
  width: 100%;
  border-radius: 50%;
}
/*右側テキストブロック*/
#author_profile .right {
  width: 74%;
  float: left;
  /* font-size: 12px; */
  line-height: 1.6;
  padding: 5px 0 20px 30px;
}


.items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.item img {
  width: 100%;
}

.item-title{
  text-align: center;
  font-size: 12px;
  /* position: relative; */
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: darkgreen;
  background: white;
  transition: .4s;
}

.item-title:hover{
  background: darkgreen;
  color: white;
}

.pageitems {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pageitem img{
  width: 100%;
}


.content-body iframe{
  width: 100%;
}

.access{
  margin: 40px 0px 0px 0px;
  padding: 5px;
  background:#fff url(3229890_s.jpg);
}

.secretword{
  margin: 80px 0px 0px 0px;
  text-align: center;
}

.secretword p{
  font-size: 25px;
}

.hint{
  text-align: center;
  margin: 80px 0px 80px 0px;
}

.hint p{
 font-size:12px;
}

.content-footer .button a {
  background: darkred;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.content-footer .button{
  text-align: center;
  margin:2rem 0;
}

.content-footer .button a:hover {
  background: #fff;
  color: darkred;
}

.sns {
  margin: 50px 0 10px;
  text-align: center;
}

.sns .fab {
  font-size: 30px;
}

.fa-twitter {
  color: #1da1f2;
}

hr {
  margin:50px 0 0 0;
  border-top: 2px solid #333;
  border-bottom: 1px solid #fff;
}

footer{
  margin:20px 0 0 0;
  padding:20px 0;
  background: darkred;
}

.credit{
  text-align: center;
  color: #fff;
  margin: 50px 10px  0;
  font-size:12px;
}

.downlode .button{
  text-align: center;
  margin: 40px 0;
}

.btn-square {
  display: inline-block;
  margin:0 auto;
  padding: 0.5em 1em;
  text-decoration: none;
  background: rgb(47, 79, 64);/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px rgb(78, 94, 79);
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.down-item{
  margin: 60px 0;
}

.down-item img{
  width: 100%;
  height: auto;
}

/*画面幅が576px以上（タブレット、デスクトップ）に適用したいスタイル*/
@media (min-width: 576px) {

  .samune img {
    width: 100%;
    height: auto;
    padding:0% 10%;
  }

  .gyu{
    width: 80%;
    margin: 0 auto;
  }

  .setumei img{
    width: 100%;
    height: auto;
    padding:0% 20%;
  }


  .item {
    width: 12.66%;
    margin: 2%;
  }

  .content-header h1{
    text-align:center;
    font-size: 30px;
    /* color: darkred; */
  }

  .content-body{
    width: 700px;
    margin: 0 auto;
  }

  .content-body h1{
    text-align: center;
    font-size: 18px;
  }

  .content-body h3{
    font-size: 18px;
  }

  .page-header h1 {
    /* position: relative; */
    display: inline-block;
    margin-bottom: 1em;
    font-size: 40px;
  }

  .pageitem {
    width: 46%;
    margin: 2%;
  }

  .yomihuda h2{
    font-size: 18px;
  }
  
  .balloon2-right p {
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .hitokoto{
    font-size: 18px;
    padding: 40px 0 0 0;
    float:right;
    width:70%;
    font-weight: bold;
  }

  .page-setumei p{
    font-size: 16px;
  }

  .omise img{
    width: 250px;
    height: auto;
    border-radius: 10px;
    padding: 0;
  }

  .twitter-link{
    text-align: center;
  }


  /* 作者からコメント */
  .comment{
    padding: 80px 0 0 0;
  }
  .balloon5 {
    width: 100%;
    margin: 1.5em 10%;
    overflow: hidden;
  }
  
  .balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
  }
  
  
  .balloon5 .chatting {
    width: 100%;
  }
  
  .says {
    display: inline-block;
    position: relative; 
    margin: 5px 20% 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #fff;
  }
  
  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #fff;
  }
  
  .says p {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  /* コメント終わり */
  
 .access h1{
   text-align: center;
   font-size: 20px;
 }

}

/*画面幅が575px以下（スマホ575）に適用したいスタイル*/
@media (max-width: 575px) {

  .samune img {
    width: 100%;
    height: auto;
  }

  .setumei img{
    width: 100%;
    height: auto;
    padding:0% 10%;
  }


  .item {
    width: 21%;
    margin: 2%;
  }
  
  .content-header h1{
    text-align:center;
    font-size: 25px;
  }

  .content-body{
    width: 300px;
    margin: 0 auto;
  }

  .content-body h1{
    text-align: center;
    font-size: 14px;
  }

  .content-body h3{
    font-size: 14px;
  }

  .content-body p{
    font-size:12px;
  }

  .content-site p{
    font-size: 12px;
  }

  /* プロフィール(スマホサイズは480) */
  #author_profile p.author_name {
    text-align: center;
  }
  #author_profile .left {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
  }
  #author_profile .left img {
    width: 33%;
    border-radius: 50%;
  }
  #author_profile .right {
    width: 100%;
    float: none;
    font-size: 12px;
    padding: 10px 20px 0;
  }
  #author_profile .right ul.author_sns li {
    margin-bottom: 20px;
  }

  .secretword p{
    font-size: 25px;
  }

  /* 各ページ */

  .page-header h1 {
    /* position: relative; */
    display: inline-block;
    margin-bottom: 1em;
    font-size: 30px;
  }

  /* .page-header h1::after {
    content: "";
    position: absolute;
    z-index: 900;
    bottom: 580px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
  } */

  .pageitem {
    width: 46%;
    margin: 2%;
  }

  .yomihuda h2{
    font-size: 12px;
  }
  
  
  .balloon2-right p {
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  .hitokoto p{
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0 0 0;
    padding: 0 0 10px 0;
  }

  .page-setumei p{
    font-size: 12px;
  }

  .omise img{
    width: 140px;
    height: auto;
    border-radius: 10px;
    padding: 0;
  }



  /* 作者からコメント */
  .comment{
    padding: 60px 0 0 0;
  }

  .balloon5 {
    width: 100%;
    margin: 1.5em 5%;
    overflow: hidden;
  }
  
  .balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
  }
  
  
  .balloon5 .chatting {
    width: 100%;
  }
  
  .says {
    display: inline-block;
    position: relative; 
    /* margin: 5px 0 0 105px; */
    margin: 5px 10% 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #fff;
  }
  
  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #fff;
  }
  
  .says p {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  /* コメント終わり */

  .access h1{
    text-align: center;
    font-size: 18px;
  }


}
